*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:poppins;
}
.image{
    height:100%;
    width:100%;
}
.color-grey{
    color:#898989;
}
.nav-bar{
    height:70px;
    padding:0px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* border:1px solid black; */
}
.nav-mid{
    width:400px;
    display:flex;
    justify-content:space-between;
    /* border:1px solid black; */
}
.nav-right{
    width:250px;
    display:flex;
    justify-content:space-between;
    /* border:1px solid black; */
}
.sec-1-main{
    position:relative;
    height:calc(100vh - 70px);
    /* border:1px solid red; */
}
#bg-img{
    height:100%;
    width:100%;
}
.sec1-card{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#FFF3E3;
    position:absolute;
    bottom:80px;
    right:90px;
    z-index:1;
    height:360px;
    width:570px;
    /* border:1px solid rgb(26, 25, 25); */

}
.s1-card-text{
    width:500px;
    height:310px;
    /* border:1px solid rgb(233, 14, 14); */

}
.s1-card-text h1{
    font-size:52px;
    color:#B88E2F;
}
.font-bold{
    font-weight:bold;

}
#buynow-btn{
    margin-top:17px;
    width:190px;
    height:60px;
    /* padding:9px 18px; */
    background:#B88E2F;
    border:none;
    color:white;
    font-size:20px;
}
.section-2{
    margin:20px 0px;
    height:585px;
    /* border:1px solid rgb(238, 5, 5); */
    padding:0 80px;

}
.section-2-main{
    text-align:center;
    width:1183px;
    height:585px;
    /* border:1px solid black; */
}
.cards-container{
     height:500px;
     /* border:1px solid purple; */
     margin-top:25px;
     display:flex;
     justify-content:space-between;

}
.s2-card{
    margin-bottom:15px;
    height:440px;
    width:340px;
    /* border:1px solid rgb(93, 3, 239); */

}
.s2-card-text{
    height:500px;
    width:340px;
    /* border:1px solid yellow; */
}
.section-3{
    /* height:970px; */
    margin-bottom:10px;
    /* border:1px solid rgb(93, 3, 239); */
    padding:0px 55px;
}
.products-container{
    text-align:center;
    /* height:970px; */
    width:1236px;
    /* border:1px solid rgb(3, 215, 239); */
}
.cards-lists{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:1236px;
    /* border:1px solid red; */

}
.sec3-card{
    margin:15px 0px; 
    width:270px;
    height:410px;
    /* border:1px solid rgb(0, 255, 38); */
}
.sec3-card-image{
    width:270px;
    height:301px;
    /* border:1px solid rgb(13, 12, 12); */
}
.sec3-card-textwrapper{
    background:#F4F5F7;
    padding:5px;
    width:270px;
    height:110px;
    /* border:1px solid rgb(76, 0, 255); */
}
.sec3-card-text{
    text-align:start;
    width:249px;
    height:99px;
    /* border:1px solid black; */
}
#showmore-btn{
    width:245px;
    height:48px;
    border:1px solid #B88E2F;
    color:#B88E2F;
    font-size:16px;
    font-weight:600;
}